.ComoJugar {
  background-color: #354f52;
  min-height: 100vh;
  color: #eee;
}

.ComoJugar_conteiner {
  width: 80%;
  margin: auto;
  padding-top: 30px;

  display: flex;
  flex-direction: column;
}

.btnVolverAlJuego {
  background-color: rgba(60, 255, 0, 0.329);
  width: 150px;
  text-align: center;
  color: #eee;
  text-decoration: none;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 30px;
}

.reglas {
  margin-bottom: 20px;
  h3 {
    text-decoration: underline;
  }
}

.pasos {
  margin-bottom: 20px;
  h3 {
    text-decoration: underline;
  }
}

.ComoGanar{
  margin-bottom: 20px;
  h3 {
    text-decoration: underline;
  }
}

.masInfo {
  margin-top: 40px;
  p {
    a {
      color: rgb(170, 170, 170);
      text-decoration: none;
    }
  }
}

.palabraMarcada {
  color: yellowgreen;
}

.CJ_jugada{
  color: gold;
}

.CJ_puntos{
  color:skyblue
}