.ComoJugar {
  background-color: #354f52;
  min-height: 100vh;
}

.ComoJugar_conteiner {
  width: 80%;
  margin: auto;
  padding-top: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnVolverAlJuego {
  color: #eee;
  text-decoration: none;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 5px;
}

.masInfo{

    p{

        a{
            color: rgb(170, 170, 170);
            text-decoration: none;
        }
    }
}
