.Tablero {
  background-color: #354f52;
  min-height: 100vh;  
}

.tableroContainer {
  padding-top: 50px;
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.areaDeJuego {
  margin: auto;
  width: 100%;
}

@media (max-width:750px) {
  .tableroContainer {
   
    width: 85%;
    padding-top: 30px;
  }
}


